.box{
    min-height: 100px;
    background-color: #FEC0CA;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}

.box-nested{
    min-height: 100px;
    background: #F07F80;
    border: 1px solid white;
}



